

<br>
<p style="font-size:150%;"><b> Welcome to the secret message encoder/decoder</b></p>

<br><br>
 

<form method="post" action="validate">  <!-- sets up the form to collect code type-->

<b>Click whether you want to encode or decode your message.</b><br> <!-- creates radio buttons to determine intent to encode or decode-->
  <input type="radio" name="a_code" value="encode"> encode <br> 
  <input type="radio" name="a_code" value="decode"> decode <br> 



     <br>
 <br>

<b>Type your message in lower case letters without punctuation?</b><br>
    <input type="text"  name="a_message">

    <input type="submit">

</form>
<body>
  <style>
    body {background-color: MediumSeaGreen;}
    
    p {color: black;text-align: center;}

      </style>
