

<br>

<br><br>
 

<form method="post" action="validate">  <!-- sets up the form to collect code type-->
 
Enter "encode" or "decode" below (without the quotes).
    <input type="text"  name="code">

     <br>
 <br>

What is your message?<br>
    <input type="text"  name="a_message">

    <input type="submit">

</form>

 <!--Asks the user for input-->
<!-- <form method="post" action="validate">  <! sets up the form to collect code type-->
<!--    <input type="text"  name="message">

    <input type="submit">
</form>

<html>
<body>

    <br>